li a:hover {color: mediumslateblue; /* Màu chữ khi hover */}

 
 #anh1 {width: 500px;
     height: 250px;} 

div {
font-family: "Arial";
ss
/* rgb{95,158,160 */}


h1 {font-size: 40px;}


/* body {background-color:rgb(1, 4, 18);} */
body {background-color: aliceblue;}
p {font-size: 22px;}


a {
/* Định dạng chung cho tất cả các đường link */
color:slateblue; /* Màu chữ */
text-decoration: underline; /* Gạch chân cho chữ */}

a:hover {
/* Định dạng khi di chuột qua đường link */
color:indigo; /* Màu chữ khi di chuột qua */
}

    /* CSS để trang trí thanh điều hướng */
nav {
background-color: #050116; /* Màu nền của thanh điều hướng */
padding: 20px; /* Khoảng cách giữa các phần tử trong thanh điều hướng */}

nav ul {
list-style-type: none; /* Loại bỏ dấu đầu dòng của danh sách */
margin: 15;
padding: 15;}

nav ul li {
display:inline-table; /* Hiển thị các mục danh sách cạnh nhau */
margin-right: 30px; /* Khoảng cách giữa các mục danh sách */}

nav ul li a {
color: rgb(245, 241, 241); /* Màu chữ của các liên kết */
text-decoration: none; /* Loại bỏ gạch chân */
font-family: Arial;}

#dangnhap {
    background-color: rgb(0, 0, 0); 
    border-radius: 5px; /* Độ cong của các góc */
    padding: 5px;
  }

  
#codemau { width: 410px; height: 35px;   background-color: dimgray; margin: 0 auto;}
 
.anh2 {width: 440px; height: 160px;} 


/* can le van ban */
.container {
    display: flex;}

.column {
    flex: 1;
    padding: 50px;}

/* logo */
.logo {
    position: fixed;
    top: 10;
    right: 10;
    width: 25px; height: 25px;}
#logox {
        position: fixed;
        top: 10;
        right: 408px;
        width: 35px; height: 25px;}
    
    /* cauhoi */
.cauhoi {
    margin: 0 auto;
    width: 300px; /* Điều chỉnh kích thước của khung */
    padding: 20px; /* Khoảng cách bên trong khung */
    background-color: black; /* Màu nền của khung */
    border: 1px solid rebeccapurple; /* Độ dày và màu của viền khung */
    border-radius: 5px; /* Độ cong của các góc */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng */}



.cuoitrang {background-color:rgba(0, 0, 0, 0.822); width: 1750px; height: 100px; color: white;}
/* Reset CSS để xóa các margin và padding mặc định của trình duyệt */
body, html {
    margin: 0;
    padding: 0;}

/* Định dạng nội dung của trang */
.cuoitrang {
    margin: 0 auto; /* căn giữa nội dung */
    width: 100%; /* chiều rộng của nội dung */
    padding: 10px; /* khoảng cách bên trong */
    text-align: center; /* căn giữa văn bản */}















