/* phan tu trong thanh dieu huong */
#dangnhap {position: absolute;
           left: 90%;}
#trangchu { position: absolute;
            left: 38%;}
#email {position: absolute;
        left: 45%;}
#dns {position: absolute;
      left: 50%;}
#thuatngu {position: absolute;
          left: 55%;}

#tenweb  {font-size: 18px;}


/* thanh dieu huong */
nav {
    background-color: #050116; /* Màu nền của thanh điều hướng */
    padding: 20px; /* Khoảng cách giữa các phần tử trong thanh điều hướng */}
             
nav ul li {
    display:inline-table; /* Hiển thị các mục danh sách cạnh nhau */
}
        
nav ul li a {
    color: rgb(245, 241, 241); /* Màu chữ của các liên kết */
    text-decoration: none; /* Loại bỏ gạch chân */
    font-family: Arial;
}

/* body */

div {
    font-family: "Arial";}

 
#anh1 {width: 500px;
     height: 250px;} 

.mauchu {color:rgb(46, 4, 85)}
h1 {font-size: 40px;}

body {background-color: aliceblue;}
p {font-size: 22px;}

a {color:slateblue; /* Màu chữ */
}

a:hover {
/* Định dạng khi di chuột qua đường link */
color:rgb(255, 255, 255); /* Màu chữ khi di chuột qua */
}

#codemau { width: 410px; height: 35px;   background-color: dimgray; margin: 0 auto;}
 
.anh2 {width: 440px; height: 160px;} 


/* can le van ban */
.container {
    display: flex;}

.column {
    flex: 1;
    padding: 50px;}

/* logo */
.logo {
    position: fixed;
    top: 10;
    right: 10;
    width: 25px; height: 25px;}
#logox {
        position: fixed;
        top: 10;
        right: 408px;
        width: 35px; height: 25px;}
    
    /* cauhoi */
.cauhoi {
    margin: 0 auto;
    width: 300px; /* Điều chỉnh kích thước của khung */
    padding: 20px; /* Khoảng cách bên trong khung */
    background-color: black; /* Màu nền của khung */
    border: 1px solid rebeccapurple; /* Độ dày và màu của viền khung */
    border-radius: 5px; /* Độ cong của các góc */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng */}




/* cuoi trang */

.cuoitrang {background-color:rgb(22, 22, 22); width: 1750px; height: 250px;
            color:rgb(95, 94, 94); border: 2px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
#cot1 {margin-left: 1300px; position: absolute; margin-top: 100px;}
#cot2 {margin-left: 1300px; position: absolute; margin-top: 120px;}
#cot3 {margin-left: 1300px; position: absolute; margin-top: 140px;}
#cot4 {margin-left: 1300px; position: absolute; margin-top: 160px;}
#cot5 {margin-left: 1300px; position: absolute; margin-top: 180px;}                                                                             
h6 {margin-left: 1290px; position: absolute; margin-top: 220px; font-size: 12px;}  











